<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.palladiosimulator.dependability.ml Target Platform" sequenceNumber="1">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
		<repository location="https://download.eclipse.org/releases/2023-03/202303151000/"/>
        <unit id="org.eclipse.core.runtime.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.ocl.examples.feature.group" version="0.0.0"/>
    </location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.mdsd.tools/metamodel-modeling-foundations/nightly/"/>
        <unit id="tools.mdsd.modelingfoundations.identifier.feature.feature.group" version="0.0.0"/>
		<unit id="tools.mdsd.modelingfoundations.identifier.ui.feature.feature.group" version="0.0.0"/>
    </location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.mdsd.tools/metamodel-modeling-probabilitydistributions/nightly/"/>
        <unit id="tools.mdsd.probdist.model.feature.feature.group" version="0.0.0"/>
		<unit id="tools.mdsd.probdist.api.feature.feature.group" version="0.0.0"/>
    </location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.editors.commons.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-editors-commons/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.editors.commons.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-editors-commons/branches/no_ui-workflow"/>
		</location>
		
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.mdsdprofiles.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-mdsdprofiles/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.mdsdprofiles.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-mdsdprofiles/branches/no_ui-workflow"/>
		</location>
		
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.modelversioning.emfprofile.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-emfprofiles/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.modelversioning.emfprofile.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-emfprofiles/nightly/"/>
		</location>
		
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="tools.mdsd.library.standalone.initialization.core.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.mdsd.tools/library-standaloneinitialization/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="tools.mdsd.library.standalone.initialization.core.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.mdsd.tools/library-standaloneinitialization/releases/latest"/>
		</location>
		
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="tools.mdsd.license.epl2.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.mdsd.tools/build-licensefeature/releases/1.0.0/"/>
		</location>
		
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-addons-environmentaldynamics/releases/latest/"/>
		<unit id="org.palladiosimulator.envdyn.api.feature.feature.group" version="1.0.0.202006181552"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-addons-environmentaldynamics/branches/no_ui-workflow"/>
		<unit id="org.palladiosimulator.envdyn.api.feature.feature.group" version="1.0.0.202006181552"/>
	</location>
		
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.probeframework.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-qual-probeframework/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.probeframework.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-qual-probeframework/branches/no_ui-workflow"/>
		</location>
		
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.measurementframework.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-qual-measurementframework/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.measurementframework.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-qual-measurementframework/branches/no_ui-workflow"/>
		</location>
		
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
	<unit id="org.palladiosimulator.thirdpartywrapper.feature.feature.group" version="0.0.0"/>
	<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-wrapper/releases/latest/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
	<unit id="org.palladiosimulator.thirdpartywrapper.feature.feature.group" version="0.0.0"/>
	<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-wrapper/nightly/"/>
	</location>
		
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
		<unit id="org.palladiosimulator.edp2.feature.feature.group" version="0.0.0"/>
		<repository location="https://updatesite.palladio-simulator.com/palladio-qual-edp2/releases/latest/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
		<unit id="org.palladiosimulator.edp2.feature.feature.group" version="0.0.0"/>
		<repository location="https://updatesite.palladio-simulator.com/palladio-qual-edp2/branches/no_ui-workflow"/>
	</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.metricspec.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-qual-metricspecification/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.metricspec.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-qual-metricspecification/branches/no_ui-workflow"/>
		</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="de.uka.ipd.sdq.featuremodel.feature.config.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-featuremodel/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="de.uka.ipd.sdq.featuremodel.feature.config.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-featuremodel/branches/no_ui-workflow"/>
		</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" refresh="true">
        <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200224183213/repository/"/>
        <unit id="org.apache.commons.math3" version="0.0.0"/>
		<unit id="org.apache.commons.collections" version="0.0.0"/>
    </location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.pcm.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.pcm.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/branches/no_ui-workflow"/>
		</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.analyzer.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-framework/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.analyzer.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-framework/branches/no_ui-workflow"/>
		</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="de.uka.ipd.sdq.identifier.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="de.uka.ipd.sdq.identifier.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/nightly/"/>
		</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="de.uka.ipd.sdq.workflow.feature.core.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-workflowengine/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="de.uka.ipd.sdq.workflow.feature.core.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-workflowengine/branches/no_ui-workflow"/>
		</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.solver.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-solver/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.solver.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-solver/branches/no_ui-workflow"/>
	</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-reliability/releases/latest/"/>
			<unit id="org.palladiosimulator.reliability.feature.feature.group" version="0.0.0"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-reliability/branches/no_ui-workflow"/>
			<unit id="org.palladiosimulator.reliability.feature.feature.group" version="0.0.0"/>
	</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-addons-experimentautomation/releases/latest/"/>
		<unit id="org.palladiosimulator.experimentautomation.feature.feature.group" version="4.3.0.202101260134"/>
		<unit id="org.palladiosimulator.experimentautomation.application.feature.feature.group" version="4.3.0.202101260134"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-addons-experimentautomation/branches/no_ui-workflow"/>
		<unit id="org.palladiosimulator.experimentautomation.feature.feature.group" version="4.3.0.202101260134"/>
		<unit id="org.palladiosimulator.experimentautomation.application.feature.feature.group" version="4.3.0.202101260134"/>
	</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-simucom/releases/latest/"/>
		<unit id="org.palladiosimulator.simucom.feature.feature.group" version="4.3.0.202101260057"/>	
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-simucom/branches/no_ui-workflow"/>
		<unit id="org.palladiosimulator.simucom.feature.feature.group" version="4.3.0.202101260057"/>
	</location>	
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-qual-monitorrepository/releases/latest/"/>
		<unit id="org.palladiosimulator.monitorrepository.feature.feature.group" version="4.3.0.202101260050"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-qual-monitorrepository/branches/no_ui-workflow"/>
		<unit id="org.palladiosimulator.monitorrepository.feature.feature.group" version="4.3.0.202101260050"/>
	</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-addons-servicelevelobjectives/releases/latest/"/>
		<unit id="org.palladiosimulator.servicelevelobjective.feature.feature.group" version="4.3.0.202101260057"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-addons-servicelevelobjectives/branches/no_ui-workflow"/>
		<unit id="org.palladiosimulator.servicelevelobjective.feature.feature.group" version="4.3.0.202101260057"/>
	</location>	
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-cloudscaleusageevolution/releases/latest/"/>
		<unit id="org.scaledl.usageevolution.feature.feature.group" version="4.3.0.202101260053"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-cloudscaleusageevolution/branches/no_ui-workflow"/>
		<unit id="org.scaledl.usageevolution.feature.feature.group" version="4.3.0.202101260053"/>
	</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="LIMBO_DLIM.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-p2mirror-dlim/nightly/"/>
	</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-simulation-scheduler/releases/latest/"/>
		<unit id="org.palladiosimulator.scheduler.feature.feature.group" version="4.3.0.202006280810"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-simulation-scheduler/branches/no_ui-workflow"/>
		<unit id="org.palladiosimulator.scheduler.feature.feature.group" version="4.3.0.202006280810"/>
	</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-simulation-abstractsimengine/releases/latest/"/>
		<unit id="de.uka.ipd.sdq.simulation.abstractsimengine.feature.feature.group" version="4.3.0.202006280759"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-simulation-abstractsimengine/branches/no_ui-workflow"/>
		<unit id="de.uka.ipd.sdq.simulation.abstractsimengine.feature.feature.group" version="4.3.0.202006280759"/>
	</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-qual-recorderframework/releases/latest/"/>
		<unit id="org.palladiosimulator.recorderframework.feature.feature.group" version="4.3.0.202101260048"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-qual-recorderframework/branches/no_ui-workflow"/>
		<unit id="org.palladiosimulator.recorderframework.feature.feature.group" version="4.3.0.202101260048"/>
	</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/archive/storydiagraminterpreter/releases/latest/"/>
		<unit id="org.storydriven.storydiagrams.feature.feature.group" version="1.0.1.201507032002"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/archive/storydiagraminterpreter/nightly/"/>
		<unit id="org.storydriven.storydiagrams.feature.feature.group" version="1.0.1.201507032002"/>
	</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
			<unit id="org.palladiosimulator.simulizar.feature.feature.group" version="tbd"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-simulizar/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
			<unit id="org.palladiosimulator.simulizar.feature.feature.group" version="tbd"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-simulizar/branches/no_ui-workflow"/>
	</location>
	
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-wrapper/nightly/"/>
		<unit id="org.apache.commons.math3" version="3.6.1"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-wrapper/releases/latest"/>
		<unit id="org.apache.commons.math3" version="3.6.1"/>
	</location>
	
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
		<repository location="https://updatesite.mdsd.tools/thirdparty-library/nightly"/>
		<unit id="com.google.auto.factory-annotations.feature.feature.group" version="1.0.0"/>
		<unit id="org.mockito.core-with-junit-extension.feature.feature.group" version="3.3.3"/>
		<unit id="net.bytebuddy.byte-buddy.feature.feature.group" version="1.10.9"/>

	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
		<repository location="https://updatesite.mdsd.tools/thirdparty-library/releases/latest/"/>
		<unit id="com.google.auto.factory-annotations.feature.feature.group" version="1.0.0"/>
		<unit id="org.mockito.core-with-junit-extension.feature.feature.group" version="3.3.3"/>
		<unit id="net.bytebuddy.byte-buddy.feature.feature.group" version="1.10.9"/>		
	</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-qual-sensorframework/releases/latest/"/>
		<unit id="de.uka.ipd.sdq.sensorframework.feature.feature.group" version="4.3.0.202101260038"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-qual-sensorframework/branches/no_ui-workflow"/>
		<unit id="de.uka.ipd.sdq.sensorframework.feature.feature.group" version="4.3.0.202101260038"/>
	</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-qual-experimentanalysis/releases/latest/"/>
		<unit id="org.palladiosimulator.experimentanalysis.feature.feature.group" version="tbd"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-qual-experimentanalysis/branches/no_ui-workflow"/>
		<unit id="org.palladiosimulator.experimentanalysis.feature.feature.group" version="tbd"/>
	</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-addon-architecturaltemplates/releases/latest/"/>
		<unit id="org.palladiosimulator.architecturaltemplates.feature.feature.group" version="tbd"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-addon-architecturaltemplates/branches/no_ui-workflow"/>
		<unit id="org.palladiosimulator.architecturaltemplates.feature.feature.group" version="tbd"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
		<unit id="tools.mdsd.library.emfeditutils.feature.feature.group" version="0.0.0"/>
		<repository location="https://updatesite.mdsd.tools/library-emfeditutils/nightly/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
		<unit id="tools.mdsd.library.emfeditutils.feature.feature.group" version="0.0.0"/>
		<repository location="https://updatesite.mdsd.tools/library-emfeditutils/releases/latest/"/>
	</location>
</locations>
</target>
